@model IEnumerable<CourseWork.Models.IssueHistory>

@{
    ViewData["Title"] = "История выдачи книг";
}

<input class="mb-3 form-control bs-primary-border-subtle" type="text" name="search" id="searchInput"
            placeholder="Поиск...">
<p>
    <a class="btn btn-success" asp-action="Create">Добавить запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FactReturnDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="records" class="text-center">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Book.Name
                </td>
                <td>
                    @item.User.Lastname @item.User.Name @item.User.Patronymic
                </td>
                <td>
                    @item.IssueDate.ToString("d")
                </td>
                <td>
                    @item.EstimatedReturnDate.ToString("d")
                </td>
                <td>
                    @if (item.FactReturnDate != null) {
                        @item.FactReturnDate?.ToString("d");
                    } else {
                        <p>Не возвращена</p>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Детали</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#records tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>